@model IEnumerable<EntregaFinal.Models.Comisione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajeComision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoComision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCalculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeComision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoComision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCalculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.EmpleadoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComisionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComisionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComisionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
